body {
    background-color: #FFE5B4;
    font-family: 'Titillium Web', sans-serif;;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.error-message {
    margin: 0;
    background-color: red;
    text-align: center;
    font-size: 2rem;
}