button {
    background-color: #3A5BA0;
    border: none;
    color: white;
    width: 5.4rem;
    height: 1.4rem;
    border-radius: 8px;
    margin: 0.7rem;
}

button:hover {
    opacity: 60%;
    cursor: pointer;
}

span {
    padding-bottom: 0.6rem;
}

.card {
    background-color: #FBF8F1;

    width: 400px;
    border: 0px solid #3A5BA0;
    border-radius: 5px;
    margin: auto auto 1.5rem;
    box-shadow: 5px 5px 10px  grey;
    padding: 1rem 0;
    font-size: 1.2rem;
}
.text-box {
    display: flex;
    flex-direction: row;
    padding: 0.3rem 0;

}

.titles-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
    margin-left: 3rem;
}

.content-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
    margin-left: 1rem;
}
